<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>author</key>
            <string>Unknown</string>
            <key>quote</key>
            <string>The distance between your dreams and reality is called action.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Abraham Lincoln</string>
            <key>quote</key>
            <string>The best way to predict the future is to create it.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>George Eliot</string>
            <key>quote</key>
            <string>What do we live for, if not to make life less difficult for each other?</string>
        </dict>
        <dict>
            <key>author</key>
            <string>W. Clement Stone</string>
            <key>quote</key>
            <string>Aim for the moon. If you muss, you may hit a star.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Albert Einstein</string>
            <key>quote</key>
            <string>Out of clutter, find simplicity. From discord, find harmony. In the middle of diffuculty lies opportunity.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Unknown</string>
            <key>quote</key>
            <string>If you don&apos;t like how things are, change it! You&apos;re not a tree.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Stephen Hawking</string>
            <key>quote</key>
            <string>However difficult life may seem, there is always something you can do and succeed at.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Amelia Barr</string>
            <key>quote</key>
            <string>It is only in sorrow bad weater masters us; in joy we face the storm and defy it.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Walt Disney</string>
            <key>quote</key>
            <string>If you can dream it, you can do it.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Joyce Meyer</string>
            <key>quote</key>
            <string>You cannot have a positive life and a negative mind.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>J. P. Morgan</string>
            <key>quote</key>
            <string>The first step towards getting somewhere is to decide that you are not going to stay where you are.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Joe Pass</string>
            <key>quote</key>
            <string>If you hit a wrong note, then make it right by what you play afterwards.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>George Bernard Shaw</string>
            <key>quote</key>
            <string>You see things; and you say, why? But I dream things that never were; and I say why not?</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Albert Einstein</string>
            <key>quote</key>
            <string>Anyone who has never made a mistake has never tried anything new.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Mahatma Gandhi</string>
            <key>quote</key>
            <string>Happiness is when what you think, what you say, and what you do are in harmony.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Aristotle</string>
            <key>quote</key>
            <string>You will never do anything in this world without courage. It is the greatest quality of the mind next to honor.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Jack Dempsey</string>
            <key>quote</key>
            <string>A champion is someone who gets up when he can&apos;t</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Margaret Mead</string>
            <key>quote</key>
            <string>Never believe that a few caring people can&apos;t change the world. For, indeed, that&apos;s all who ever have.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Jimmy Wales</string>
            <key>quote</key>
            <string>If there is one thing that I&apos;ve learned in my career, it is to do more of what&apos;s working, and less of what&apos;s not.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Mother Teresa</string>
            <key>quote</key>
            <string>Yesterday is gone. Tomorrow has not yet come. We have only today. Let us begin.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Unknown</string>
            <key>quote</key>
            <string>Success is not final, failure is not fatal: it is the courage to continue that counts.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Unknown</string>
            <key>quote</key>
            <string>Having a dream you don&apos;t pursue is like buying an ice cream cone and watching it melt all over your hand.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Ayn Rand</string>
            <key>quote</key>
            <string>A creative man is motivated by the desire to achieve, not by the desire to beat others.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Thomas A. Edison</string>
            <key>quote</key>
            <string>Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Vincent van Gogh</string>
            <key>quote</key>
            <string>I keep on making what I can&apos;t do yet in order to learn to be able to do it.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>T.S. Eliot</string>
            <key>quote</key>
            <string>Only those who will risk going too far can possibly find out how far one can go.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Francis of Assisi</string>
            <key>quote</key>
            <string>Start by doing what&apos;s necessary; then do what&apos;s possible; and suddenly you are doing the impossible.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Helen Keller</string>
            <key>quote</key>
            <string>The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Maya Angelou</string>
            <key>quote</key>
            <string>Try to be a rainbow in someone&apos;s cloud.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Audrey Hepburn</string>
            <key>quote</key>
            <string>Nothing is impossible, the word itself says &apos;I&apos;m possible&apos;!</string>
        </dict>
        <dict>
            <key>author</key>
            <string>John F. Kennedy</string>
            <key>quote</key>
            <string>As we express our gratitude, we must never forget that the highest appreciation is not to utter words, but to live by them.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Lucius Annaeus Seneca</string>
            <key>quote</key>
            <string>One of the most beautiful qualities of true friendship is to understand and to be understood.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Helen Keller</string>
            <key>quote</key>
            <string>Walking with a friend in the dark is better than walking alone in the light.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Walter Winchell</string>
            <key>quote</key>
            <string>A real friend is one who walks in when the rest of the world walks out.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Winston Churchill</string>
            <key>quote</key>
            <string>It is no use saying, &apos;We are doing our best.&apos; You have got to succeed in doing what is necessary.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Napoleon Hill</string>
            <key>quote</key>
            <string>The starting point of all achievement is desire.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>George Bernard Shaw</string>
            <key>quote</key>
            <string>Progress is impossible without change, and those who cannot change their minds cannot change anything.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Barack Obama</string>
            <key>quote</key>
            <string>Change will not come if we wait for some other person or some other time. We are the ones we&apos;ve been waiting for. We are the change that we seek.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Steve Jobs</string>
            <key>quote</key>
            <string>Things don&apos;t have to change the world to be important.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Keri Russell</string>
            <key>quote</key>
            <string>Sometimes it&apos;s the smallest decisions that can change your life forever.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Hugh Prather</string>
            <key>quote</key>
            <string>Just when I think I have learned the way to live, life changes.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Mason Cooley</string>
            <key>quote</key>
            <string>Excuses change nothing, but make everyone feel better.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Andy Warhol</string>
            <key>quote</key>
            <string>They always say time changes things, but you actually have to change them yourself.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Ralph Waldo Emerson</string>
            <key>quote</key>
            <string>Do not go where the path may lead, go instead where there is no path and leave a trail.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Henry David Thoreau</string>
            <key>quote</key>
            <string>It&apos;s not what you look at that matters, it&apos;s what you see.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Elisabeth Kubler-Ross</string>
            <key>quote</key>
            <string>The opinion which other people have of you is their problem, not yours.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Nelson Mandela</string>
            <key>quote</key>
            <string>Education is the most powerful weapon which you can use to change the world.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Maimonides</string>
            <key>quote</key>
            <string>Give a man a fish and you feed him for a day; teach a man to fish and you feed him for a lifetime.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Herbert Spencer</string>
            <key>quote</key>
            <string>The great aim of education is not knowledge but action.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Oscar Wilde</string>
            <key>quote</key>
            <string>Education is an admirable thing, but it is well to remember from time to time that nothing that is worth knowing can be taught.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Bernard Meltzer</string>
            <key>quote</key>
            <string>A true friend is someone who thinks that you are a good egg even though he knows that you are slightly cracked.</string>
        </dict>
        <dict>
            <key>author</key>
            <string>Winston Churchill</string>
            <key>quote</key>
            <string>Courage is what it takes to stand up and speak; courage is also what it takes to sit down and listen.</string>
        </dict>
    </array>
</plist>